@using LigosGame.Constants
@using LigosGame.Modals

@attribute [Route(UrlConstants.INDEX)] 

@using MudBlazor

@inject NavigationManager _navegation
@inject IDialogService DialogService

<PageTitle>Ligos</PageTitle>

<div class="menu-container">
    <div class="menu-content">
        <div class="game-title">
            <h1>Ligos Game</h1>
            <div class="title-underline"></div>
        </div>

        <div class="menu-buttons">
            <button class="menu-btn primary" @onclick="@IniciarJogo">
                <span class="btn-text">Jogar</span>
                <div class="btn-ripple"></div>
            </button>

            <button class="menu-btn secondary" @onclick="@ExibirConfiguracoes">
                <span class="btn-text">Opções</span>
                <div class="btn-ripple"></div>
            </button>
        </div>
    </div>
</div>

@code {

    #region Functions

    private void IniciarJogo()
    {
        _navegation.NavigateTo(UrlConstants.JOGAR);
    }

    private Task ExibirConfiguracoes()
    {
        var options = new DialogOptions
            {
                BackdropClick = false,
                MaxWidth = MaxWidth.Large
            };

        return DialogService.ShowAsync<ConfiguracoesModal>("Configurações", options);
    }

    #endregion

}