@using LigosGame.Constants

@inject NavigationManager _navegation

<MudDialog Class="configuracoes-dialog">
    <TitleContent>
        <div class="dialog-header">
            <MudText Typo="Typo.h5" Class="header-title">@Titulo</MudText>
        </div>
    </TitleContent>
    <DialogContent>
        <div class="config-content">
            @Mensagem
        </div>
    </DialogContent>
    <DialogActions>
        <div class="dialog-actions">
            <MudButton Class="cancel-btn" Color="Color.Secondary" OnClick="Cancel" StartIcon="@Icons.Material.Filled.Home" Variant="Variant.Outlined">Menu</MudButton>
            <MudButton Class="save-btn" Color="Color.Primary" OnClick="NextRound" StartIcon="@Icons.Material.Filled.NavigateNext" Variant="Variant.Filled">Próxima Rodada</MudButton>
        </div>

    </DialogActions>
</MudDialog>


@code {
    #region Declaration

    [CascadingParameter] private MudDialogInstance MudDialog { get; set; }

    [Parameter] public string Titulo { get; set; }
    [Parameter] public string Mensagem { get; set; }

    [Parameter] public EventCallback EventoProximaRodada { get; set; }

    #endregion

    #region Functions

    private async Task NextRound()
    {
        await EventoProximaRodada.InvokeAsync();
        MudDialog.Close(DialogResult.Ok(true));
    }

    private void Cancel()
    {
        _navegation.NavigateTo(UrlConstants.INDEX);
        MudDialog.Cancel();
    }

    #endregion
}
